.accordion
  cursor: pointer
  .accordion-body
    cursor: default
    max-height: 0
    transition: all $transitionTime linear
    display: block
    overflow: hidden

  &:focus
    .accordion-body
      max-height: 200px
    .more-arrow
      display: none;
    .less-arrow
      display: inline-block;

.more-arrow
  display: inline-block;
.less-arrow
  display: none;
