.accordion
  cursor: pointer
  .accordion-body
    cursor: default
    max-height: 0
    transition: all $transitionTime linear
    display: block
    overflow: hidden

  &:focus
    .accordion-body
      max-height: 300px
    .more-arrow
      display: none;
      font-size: 1rem
    .less-arrow
      display: inline-block !important;
      font-size: 1rem

.more-arrow
  display: inline-block;
  font-size: 1rem
.less-arrow
  display: none !important;
  font-size: 1rem
.ul
  text-decoration: underline
