gallery
  display: block

.gallery
  position: relative
  min-height: 20px

  input
    display: none

  & > *
    position: absolute
    top: 0
    left: 0
    @media screen and (max-width:767)
      width: 90%
    width: 100%
    text-align: center
    margin: 0 auto
    height: 100%
    opacity: 0
    transition: all $transitionTime ease-in-out

    &.first
      position: initial

  input:checked + .image
  & > .show
    opacity: 1

.gallery-thumbs
  margin-top: 10px
  text-align: center

  label
  .thumb
    cursor: pointer
    padding: 0 .5rem

    img
      padding: .5rem
      border: 2px solid $hLavender
      max-width: 50px

.gallery-dots
  margin-top: 10px
  text-align: center

  label
  .dot
    width: 10px
    height: 10px
    border-radius: 10px
    border: 1px solid $hLavender
    position: relative
    cursor: pointer

    &.selected
      background-color: $hBlue

.last-button
.next-button
  transform: scaleY(4)
  top: 40%
  position: absolute
  cursor: pointer
  user-select: none

.last-button
  left: -1rem
@media screen and (max-width:768px) {
  .last-button {
    padding-left: 10px }
  .next-button {
    padding-right: 10px }
  }

.next-button
  right: -1rem
