#checkout
  checkout-flow
    width: 100vw

    @import 'shop.js/src/css/ready'

    & > *
      align-items: flex-start

    .checkout-form
      margin: 0

  cart
    width: 100%

    .product-text-container
      width: 100%
  .auth-logo
    float: right;
    height: 42px

  button:focus
    background-color: $green400
