#checkout
  checkout-flow
    width: 100vw

    @import 'shop.js/src/css/ready'

    & > *
      align-items: flex-start

    .checkout-form
      margin: 0
  #shippingaddress-state-27
    @media screen and (max-width:992px)
      padding-top: 11px;
    @media screen and (min-width:992px)
      padding-top: 7px;
  cart
    padding-left: 0px
    padding-right: 0px
    width: 100%

    .product-text-container
      width: 100%
    .product-description
      line-height: inherit;
      width: 100%
      font-size: 1rem !important;
  .auth-logo
    float: right;
    height: 42px

  button:focus
    background-color: $green400

  .logoHB
    height: 54px;
    img
      max-width: 50px
    border-bottom: 1px solid #d3d3d3;

    margin-top: -30px;

    margin-bottom: 10px;

    width: 100%;

    text-align: center;
  .test-nm360
    color:black
  .mobile-friendly
    padding: 0px;
  .product
    margin:20px 0px 40px 0px
    @media screen and (max-width:420px)
      margin-top: 30px
    color: black
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
  .product-title
    color: #0f1033
    text-align: center;
  .limit-notice
    font-style: italic;
    padding-top: 10px
  .btn
    background-color: #304191
    color: white
  .optimize-space
    padding-top: 0px;
  .checkout-next
    min-width: 100%;
    max-width: 345px
  .title-top-container
    background-color: rgba(255,255,255,.9)
    font-family: Palatino
    z-index: 10
    padding:5px
    position:fixed;
    top:0px
    font-size:1rem
    width: 100%
    left: 0
  .title-top
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    color: #304191
    img
      margin: 0 auto;
      max-width: 50px
    text-align: center
    p
      font-size: .9rem;
  .first
    margin-top: 100px
  .checkmark
    color: green
  .gift
    color: #304191
  .gift-nm360
    padding-left: 3px;
    font-size: 2.2rem !important;
  .pdl
    margin-top: 20px
    line-height: 1.65rem;
    .reg-price
      color: red
    .desc-text
      display: block;
      padding-left: 43.4px;
  .product-img
    margin-bottom: 20px
    text-align: center;
    img
      max-width: 350px;
      width: 100%;

  .frfa
    padding-right: 20px
    font-size: 1.7rem;
    vertical-align: middle;
  .srfa
    padding-right: 5px
    font-size: 2rem;
    vertical-align: middle;
    float: left
  .phone
    font-size: 2rem;
    color: #304191
  .info
    font-size: 1rem;
    vertical-align: super;
  .fa-capsules
    color: #304191
  .ug-offer
    background-color: #f0efef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 40px
    padding: 5px
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  .thankyoubox
    display: block;
    height: 55px;
    margin-top: -20px;

  .thank-you-sticky
    font-size: 1rem;
    @media screen and (min-width:767px)
      width: 300px;
      margin: 0 auto;
    padding: 10px;
    background-color: #f0efef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  .one-click-info
    font-style: italic;
    font-size: 1rem
    margin-bottom: 5px;
    @media screen and (min-width:767px)
      left: 25%;
      position: relative;
    text-align: center;
  .price
    color: red
  .value-price
    text-decoration: line-through;
  .value
    color: gray
    text-align: center;
  .cprice
    text-align: center;
    line-height: 1.5rem;
  .ug-title
    color: #304191
    text-align: center;
  .ug-title
    font-size: 1.9rem;
    @media screen and (max-width:374px)
      font-size: 1.8rem;
  .ug-desc
    font-size: 1rem
    padding-bottom: 10px;
  .ug-first
    margin-top: 130px;
  .space
    color: gray
    font-style: italic;
    font-size: 1rem
  .upsell-image
    text-align: center;
    width: 100%;
  .countdown-title
    @media screen and (min-width:767px)
      left: 25%
      position: relative;
  .countdown
    color: green
    text-align: center;
    @media screen and (min-width:767px)
      left: 25%
      position: relative;
  .select-indicator
    top: 25px;
  .ug-price-row
    margin-top: 40px
    margin-bottom: 40px
  .product-name
    font-family: palatino;

    letter-spacing: 2px;

    color: #304191;
    width: 60%
    margin-top: -7px;
    font-size: 2rem;
    @media screen and (max-width:420px)
      float: unset !important;
  .discount-show-or-hide
    display: inline;
  .product-price, .product-list-price
    font-size: 1.5rem;
    @media screen and (max-width:420px)
      display: inline-block;
      font-size: 1.36rem;
  .invoice-total
    .invoice-label, .invoice-amount
      font-size: 1.5rem;
  .decline-ug
    text-align: center;
    padding: 10px
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: lightgray;
    color: white !important;
    text-align: center;
    margin-bottom: 50px;
  .product-quantity-container
    display: none
  .product-price-container
    line-height: 2rem
    @media screen and (max-width:420px)
      float: unset !important;
      text-align: left;
  .top-stick
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 999;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid #d2d9de;
  .no-cc-notice
    font-style: italic;
    padding: 10px 0px;
    text-align: center;
  .cf
    font-size: 1rem
  .b-cont
    padding-top: 20px;
.tooltip
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;


.tooltip
  .top
    min-width:200px;
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;

.tooltip:hover
  .top
    visibility:visible; opacity:1;


.tooltip
  .top
    i
      position:absolute;
      top:100%;
      left:50%;
      margin-left:-12px;
      width:24px;
      height:12px;
      overflow:hidden;



.tooltip
  .top
    i
      &:after
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:50%;
        transform:translate(-50%,-50%) rotate(45deg);
        background-color:#EEEEEE;
        box-shadow:0 1px 8px rgba(0,0,0,0.5);
