.lsfooter
  background-color: #0f1033
  min-height:80px
  text-align: center
  padding-top: 10px
  a
    color: White !important
  .sf
    margin: 0 8px;
  .social-icons-row
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 15px;
#launch-squeeze
  checkout-modal
    display: none

  launch-squeeze-form
    padding: 0

    .input
      @import 'el-controls/src/css/theme-inputs-no-context'

    section
      display: none

    .step-1
      display: initial

    &.ready
      section
        display: initial
.pluginSkinDark
  a
    color:#0f1033;
.fb_iframe_widget_fluid span, iframe.fb_ltr { width: 100% !important; }

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 21px 5px rgba(255,255,255,.4);
    -moz-box-shadow: 0px 0px 21px 5px rgba(255,255,255,.4);
    -webkit-box-shadow: 0px 0px 21px 5px rgba(255,255,255,.4);
  }
  50% {
    box-shadow: 0px 0px 21px 5px rgba(255,255,255,.6);
    -moz-box-shadow: 0px 0px 21px 5px rgba(255,255,255,.6);
    -webkit-box-shadow: 0px 0px 21px 5px rgba(255,255,255,.6);
  }
  100% {
    box-shadow: 0px 0px 21px 5px rgba(255,255,255,.4);
    -moz-box-shadow: 0px 0px 21px 5px rgba(255,255,255,.4);
    -webkit-box-shadow: 0px 0px 21px 5px rgba(255,255,255,.4);
  }
}


#launch-videos
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  background-color: black

  *
    color: White

  a
    color: White !important;

  .trailer
    text-align: center;
    top: 25%;
    transform: translateY(25%);
  .title-top-container
    z-index: 9999
    font-family: Palatino
    background-color: rgba(0,0,0,0.7);
    padding:5px
    position:fixed;
    top:0px
    font-size:1rem
    width: 100%
    left: 0
    @media screen and (max-width:540px)
      font-size:.5rem
      text-align: left
  .title-top
    text-align: center;
    display: inline-block
    width: 100%;
    .logoHB
      max-width: 50px
      margin: 0 auto;

      display: block;
      text-align: center;
      margin-bottom: 2px
  .btn-share1

    width: 48%
    background-color: rgba(12, 28, 200, 0.4);
    border: 3px solid #c3c1c1;
    color: #cfcfcf !important;

    .fab
      color: white
      &:hover
      &:focus
        color: white
    &:hover
      background-color: #324bd4 !important
      border: 3px solid #fff !important;
  .btn-share2-container
    width: 100%;
    max-width: 365px;
  .btn-share2
    background-color: rgb(101, 97, 97);
    margin-bottom: 4px;
    width: 48.5%
    color: rgba(5,6,57,0.8) !important
    .fab
      color: rgba(5,6,57,0.8)
      &:hover
      &:focus
        color: #324bd4
    &:hover
    &:focus
      border-color: #324bd4 !important
      color: #324bd4 !important
  .btn-share
    font-family: 'Open Sans', sans-serif
    -webkit-appearance: none;

    margin-top: 3px;
    margin-right: 2px
    padding-left: 2px
    padding-right: 2px
    font-family: "Lato", "Helvetica", "Arial", sans-serif;

    max-width: 180px
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 40px






  .btn-trailer, .btn-opt-in
      font-family: 'Open Sans', sans-serif
      border: 3px solid rgba(247, 108, 17, 0.9);

      padding-left: 10px
      padding-right: 10px
      font-family: "Lato", "Helvetica", "Arial", sans-serif;


      box-shadow: none;
      .fa
          font-family: "Font Awesome 5 Free" !important;
          color: white
  .btn-trailer
    background-color: rgba(12, 28, 200, 0.4);
    margin-left: 2px
    border: 3px solid white;
    width: 48%
    max-width: 180px
    margin-top: 3px;
    animation: pulse 3s infinite;
    &:hover
      background-color: #324bd4 !important
  .btn-opt-in
    margin-left: 4px
    background-color: rgba(5,6,57,0.8);
    border: 3px solid white;
    max-width: 100px
    margin-bottom: 21px;
    // oldoptin - no max-width
    @media screen and (max-width:521px)
      margin-bottom: 0px
    &:hover
      background-color: #324bd4 !important
  .new
      @media screen and (min-width:521px)
        max-width: 300px
      @media screen and (max-width:520px)
        min-width: 100%
      background-color: $hBlue2
      width: 100%
      margin-left: 0px;
      color: #d7d7d7;
      .fa
        color: #d7d7d7;
  .t360
    color: $hOrange
  .name
      margin-top:-40px
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 500;

  .subtitle, .subtitle2

    color: #adadb1;
    text-transform: uppercase;
  .subtitle
    font-size: 1rem;
  .subtitle2
    font-size: 1.5rem
    line-height: 1
    margin-top:10px
    @media screen and (max-width:420px)
      font-size: 1.3rem
  .opt-in-fields
    max-width: 98%;
    margin-top: 2px;
    input
      text-align:center;
      min-width: 100%
    .input
      max-width: 430px
    @media screen and (max-width:767px)
      display: flex;
      align-items: center;
      justify-content: center;
  .opt-in-fields-main
    @media screen and (max-width:520px)
      display: block;
    input
      text-align:center;

  checkout-modal
    display: none

  .overlay-opt-in
    height: 290px
    padding-left: 0px;
    padding-right: 0px;
    text
      width: 100%;
      max-width: 318px;

  .submit-opt-in
      background-color: $hBlue2
      width: 90%
      max-width: 209px !important
      @media screen and (max-width:767px)
        margin-top:10px
  .input
    width: 100%
    max-width: 317px;
    input
      height: 40px;
      -webkit-appearance: none;
      -webkit-border-radius: 0
      text-align: center;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      max-width: 318px;
      border: 3px solid rgba(255, 255, 255, 0.7);

      &:focus
      &::placeholder
          color: black
      margin-bottom: 21px;
	    .invalid
		       margin-bottom: -3px;
  .main-optin
    .cta
      max-width: 767px
      text-align: center;
      @media screen and (min-width:420px)
        padding-top: 80px

      h4
        text-transform: uppercase;
        @media screen and (max-width:420px)
          font-size: 1.3rem
      p
        font-size: 1rem;
    input
      background-color: white
      border: 2px solid rgb(221, 221, 221);
      height: 60px
      font-size: 1.5rem
      min-width: 100%
      color: black
      @media screen and (max-width:420px)
        font-size: 1.3rem
        margin-bottom:0px
    .btn-opt-in
      height: 60px
      font-size: 1.5rem
      @media screen and (max-width:420px)
        font-size: 1.3rem
  .opt-in
    //top: 50%;
    top: 53px
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #000000b3;
    //transform: translateY(-50%);
    h4
      text-align: center
      @media screen and (max-width:576px)
        font-size:1.2rem
  .disclaimer
    max-width: 370px;
    color: #ffffffb3
    text-align: center;
    padding-bottom: 4px
    margin: 0 auto;
    font-size: 1.2rem

  .disclaimer-main
      max-width: 900px
      font-size: 1rem
      padding-top: 1rem;

  .thumb
    padding-top: 110px;
    // margin-top:10px oldoptin
    .col-md-3
      @media screen and (min-width:768px)
        max-width: 23.5%;
  .col-thumb
    box-shadow: 0px 0px 21px 5px rgba(255,255,255,0.17);
    -moz-box-shadow: 0px 0px 21px 5px rgba(255,255,255,0.17);
    -webkit-box-shadow: 0px 0px 21px 5px rgba(255,255,255,0.17);
    @media screen and (min-width:767.98px)
      margin-left:2px
      margin-right:2px
    @media screen and (max-width:767px)
      margin-bottom: 10px;
    p
      position: absolute;
      right: 4px;
      bottom: -19px;
      color: lightgray;
      @media screen and (min-width:420px)
        right: 8px;
        font-size: 25px;
    h6
      position: absolute;
      top: 0
      text-align: center
      width: 100%;
      color: #a5a4a4;
  .episodes
    margin-bottom: 40px
    h4
      @media screen and (max-width:420px)
        font-size: 1.3rem;
  .fb-share
    text-align: left
  .ron-media
    margin-top:20px
    img
      max-width:90px
      opacity: .5
      &:hover
        opacity: .9
    .col-6, .col-md-3
      margin-bottom:15px
  .launch-squeeze-form
    @media screen and (max-width:367px)
        margin-bottom:5px
  .title
    p
      font-size: 1.25rem
      // margin-top: 20px oldoptin
      color: #e9e7e7;
    h2
      @media screen and (max-width:520px)
        font-size: 1.5rem
  .t
    padding-bottom: 0px
  .l-body-transition

  .l-body
    background-color: #0f1033;
    min-height: 200px
    .fblike
      z-index: 10;
      color: #1a88fb
  .l-body2

    padding-top: 20px
    @media screen and (min-width:520px)
      background-color:black;
      padding-top: 40px
    .vid-desc-trailer
      padding-left: 0px;
      padding-right: 10px;
      margin-bottom: 10px
      img
        border: 3px solid white
      .vid-desc-wrapper-trailer
        background-color: none
        position: absolute;
        width: 99.5%;


        bottom: 4px;
      h5
        text-transform: uppercase;
        margin-bottom: 0px
        text-align: left;
        margin-left: 8px

        color:white
    .vid-desc
      padding-left: 0px;
      padding-right: 10px;
      margin-bottom: 10px
      h5, h6
        text-transform: uppercase;
        margin-bottom: 0px
        margin-left: 4px

        color:white
        text-align: left;
        margin-left: 4px
      img
        border: 1px solid gray
      .vid-desc-wrapper
        position: absolute;
        width: 99.5%;


        bottom: 4px;
      .vid-coming-soon
        text-align: center;
        top: 0
        color: #a5a4a4;
  .putting
    max-width: 196px;



  .l-body2-ron
    img

      @media screen and (min-width:767px)
        padding-right: 100px;
        float: right;
  .vid-title
      h3
        color:white
        margin: 0 auto;
    .4videos
      margin-top:10px

  .fb-like-frame
    background-color: #0f1033;
    position: relative;
    z-index: 12;
    height: 60px;
  .fb-comment-title
    position: relative;
    z-index: 22;
  .loading
    height: 80px
    margin-bottom: -85px
    padding-top: 20px
    text-align: center;
    z-index: 11
    position: relative;
  .fb-like
    background-color: #0f1033;
  .fb-comments
    display:block
    background-color: #0f1033;
  .hm
    height: 20px;
    z-index: 20;
    position: relative;
    background-color: #0f1033;
  .hm2
    width: 100%;
    height: 37px;
    margin-top: -55px;
    z-index: 10;
    position: relative;
    background: #0f1033;
  .fb-new
    position: relative;
    z-index: 9;
    margin-top: -47px;
    @media screen and (max-width:420px)
      margin-top: -58px
  .fb-old
    z-index: 8;
    margin-top: -124px;
  .vlns
    color: #2b2f3e;
    a
      color: #2b2f3e !important;
    .vl-sc
      a
        color: #fff !important;
    button
      background-color: black
    b
      color: rgb(102, 102, 102)
  .thank-you
    @media screen and (min-width:421px)
      padding-top: 120px
    text-align: center;
    max-width: 767px
    .clg
      color: lightgray
    .h4line2
      color: #e6e4e4;
      text-transform: uppercase;
    h4
      @media screen and (max-width:420px)
        font-size: 1.3rem;
  .ueh3
    @media screen and (min-width:420px)
      margin-top:20px
      margin-bottom:10px

#launch-video-4
  .title
    color: $hBlue2
    font-weight: bold;
  .title-360
    color: $hOrange
    font-weight: bold;
  .old-price
    text-decoration: line-through;
    color: red
  h2, h4
    color: black

#launch-video-4
  .title
    color: $hBlue2
    font-weight: bold;
  .title-360
    color: $hOrange
    font-weight: bold;
  .old-price
    text-decoration: line-through;
    color: red
  h2, h4
      color: black
#launch-squeeze

  min-height:100vh

  .btn
    background-color: $hBlue2
  .main
    padding-left: 0px
    padding-right: 0px
    text-align:center
    margin-top: -45px
    // background-color: $hBlue2
    @media screen and (min-width:767px)
      margin-top: -60px
      background-color: White
      background-image:url('/img/ron-white-desktop-bg.png')

  .logo-mobile
    max-width: 350px
  .ron
    @media screen and (max-width:767px)
      padding-left: 0px
      padding-right: 0px
      padding-bottom: 20px
      text-align: center

    z-index: 100
    @media screen and (min-width:767px)
      text-align: right
  .lsbold
      font-weight: bold;
  .title
    h2
      margin-bottom: 20px

  .logo-mobile
    padding-bottom: 10px;

    padding-top: 10px;
    @media screen and (min-width:767px)
      display: none
  .desktop

    @media screen and (max-width:767px)
      display: none;
    @media screen and (min-width:767px)
      display: block;
  .mobile
    max-width: 305px;
    @media screen and (max-width:767px)
      display: block;
    @media screen and (min-width:767px)
      display: none;


  .cta
    z-index: 100
    padding-left: 15px
    padding-right: 15px
    @media screen and (max-width:992px)
      background-color: $hBlue2
    .logo
      background-color: rgba(25, 44, 133, 0.9);
      margin-top: -147px;
      z-index: 999;
      height:147px
      @media screen and (min-width:767px)
        display: none
    .cta-text1
      @media screen and (min-width:992px)
        padding-top: 210px
    .cta-text
      @media screen and (max-width:992px)
        background-color: $hBlue2
        padding-left:15px
        padding-right:15px
    .cta-title
      @media screen and (max-width:992px)
        background-color: $hOrange
        font-size: 40px
      margin-bottom: 5px
      margin-top: 15px
      margin-bottom: 15px
      padding:5px

      h2
        color: white
        @media screen and (min-width:992px)
          color: $hOrange
    h4
      color: white
      @media screen and (min-width:992px)
        color: black

    .btn
      background-color: $hBlue2
      color: white
      @media screen and (max-width:767px)
        background-color: white
        color: $hBlue2
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 255px;
      margin-top: 20px

  .disclaimer
    font-size:10pt
    color: #fffc
    background-color: #0000004d;
    margin-bottom:4px
    @media screen and (min-width:767px)
      color: #abaaaa
    text-align:center
    @media screen and (max-width:767px)
      padding-bottom:20px
  .sp-reg
    max-width: 289px;
    margin: 0 auto;
    .btn
      background-color: $hBlue2
      color: white
  .step-3
  .step-4
    background-color: White
    color: $hBlue2

#ToS, #PP
  padding-top: 10rem
  p, h2, h3, h4
    color: black

#partner
  .header-img
    margin-top: 28px;
    padding-left: 0px;
    padding-right: 0px;
    img
      width:100%
  h4
    text-decoration: underline;
    color: $hBlue2
  p
    color: black
  .join-team
    padding-bottom: 40px
    margin-top: 5rem
  h2, h1
    color: $hBlue2
    text-align: center
  .center
    text-align: center
  .recaptcha-m
    @media screen and (max-width:362px)
      transform:scale(0.77);
      transform-origin:0 0
  .form
    @media screen and (max-width:450px)
      padding-left: 0px
      padding-right: 0px
      margin-left: 0px
      margin-right: 0px
/*Eliminates padding, centers the thumbnail */

body, html {
padding: 0;
margin: 0;
text-align: center;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close1
  left: 44.5%;
  top: -9px
  @media screen and (max-width:500px)
    left: auto
  @media screen and (max-width:767px)
    right: 0px
    bottom: 105%;
    top: auto
a.lightbox-close-trailer
  right: -80px
  top: 80px
  position: absolute;
  @media screen and (max-width:767px)
    right: -10px
    top: 50px
a.lightbox-close2
  top: 10px;right: 10px;
  top: -9px
  @media screen and (max-width:767px)
    right: 0px
    bottom: 105%;
    top: auto
a.lightbox-close
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  margin-left: 200px;
  color: gray;
  text-decoration: none;
  position: absolute;

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;


/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before
  content: "";
  display: block;
  height: 46px;
  width: 3px;
  background: #6f6c6c;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  .lct
    @media screen and (max-width:767px)
      height:36px

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after
  content: "";
  display: block;
  height: 46px;
  width: 3px;
  background: #6f6c6c;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  .lct
    @media screen and (max-width:767px)
      height:36px

/* Styles the thumbnail */

a.lightbox img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target .trailer-container
  display: none
  margin-bottom:40px
  @media screen and (max-width:420px)
    margin-bottom: 80px
.video-one-target, .video-two-target, .video-three-target, .video-four-target
  display:none
  padding-top: 110px

.lightbox-target2 {
position: fixed;
top: -100%;
width: 100%;

width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 9999;
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target .trailer-container {
display: block
// z-index: 9999;
}
.video-one-target:target, .video-two-target:target, .video-three-target:target, .video-four-target:target
  display: block
.lightbox-target2:target  {
opacity: 1;
top: 0;
bottom: 0;
// z-index: 9999;
}
.lightbox-target:target img, .lightbox-target:target .name, .lightbox-target:target .subtitle,
.lightbox-target:target .subtitle2 {
display:none
}
.lightbox-target .l-vid { margin-bottom: 100px;}


// .lightbox-target:target img {
//max-height: 100%;
//max-width: 100%;
//}

.lightbox-target:target a.lightbox-close {
// top: 0px;
}
.lightbox-target3:target .thank-you
  display:block

.lightbox-target3:target .new
  button
    background-color: rgba(5,6,57,0.8);
.lightbox-target3:target .disclaimer-main, .lightbox-target3:target .opt-in-fields-main, .lightbox-target3:target .cta
  display: none !important
.lightbox-target3 .thank-you
  //display: none
.lightbox-target3
  max-width: 100%;
  margin: 0 auto;

#launch-videos
  .scrolling-show
    position: fixed;
    height: 100%
    min-width: 100%
    background-color: rgba(0,0,0,0.7)
    top:0
    z-index: 9999
    display: none
  .popover-optin
    top: 50%;
    position: absolute;
    transform: translateY(-50%)
    left: 0;
  .show
    @media screen and (min-width:674px)
      display: none;
#checkout

  *
    color: black
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
  .product-title
    color: #0f1033
  .limit-notice
    font-style: italic;
  .title-top
    border-bottom: solid 1px gray
  .btn
    background-color: $hblue2
    color: white
  .title-top-container
    z-index: 9999
    font-family: Palatino
    background-color: rgba(0,0,0,0.7);
    padding:5px
    position:fixed;
    top:0px
    font-size:1rem
    width: 100%
    left: 0
  .title-top
    img
      margin: 0 auto;
      max-width: 50px
    text-align: center
  .first
    margin-top: 100px
