.lsfooter
      background-color: #0f1033
      min-height:60px
      text-align: center
      padding-top: 10px
    a
      color: White !important;
#launch-squeeze
  checkout-modal
    display: none

  launch-squeeze-form
    padding: 0

    .input
      @import 'el-controls/src/css/theme-inputs-no-context'

    section
      display: none

    .step-1
      display: initial

    &.ready
      section
        display: initial

#launch-videos
  background-color: black
  .title-top-container
    z-index: 9999
    font-family: Palatino
    background-color: rgba(5, 6, 57, 0.8);
    padding:5px
    position:fixed;
    top:0px
    font-size:1rem
    width: 100%
    left: 0px

    @media screen and (max-width:540px)
      font-size:.5rem
      text-align: left
      border-bottom: 1px solid #262626;
  .title-top
    float: left;
  .t360
    color: $hOrange
  .name
      margin-top:-40px
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 500;
    p, h1, h2, h3, h4
    color: White
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
  .subtitle
    font-size: 1rem;
    color: #7c7c80
    text-transform: uppercase;
  .opt-in-fields
    @media screen and (max-width:767px)
      display: flex;
      align-items: center;
      justify-content: center;

  checkout-modal
    display: none

  .overlay-opt-in
    height: 100%

    text
      float: right

    .btn
      float: left

  .btn
    background-color: $hBlue2
    margin-bottom: 3px;
    @media screen and (max-width:767px)
      width: 90%
      margin-top:10px
      max-width: 300px
  .input

    input
      height: 40px;
      width: 100%
    @media screen and (max-width:767px)
      width: 90%
      max-width: 300px
  .overlay-opt-in
    width: 100%;

    @media screen and (max-width:884px)
      height: 95.7%
    @media screen and (max-width:767px)
      height: 95%
    @media screen and (max-width:664px)
      height:94.5%;
    @media screen and (max-width:606px)
      height:93%
    @media screen and (max-width:462px)
      height:91%
    @media screen and (max-width:439px)
      height:90%
    @media screen and (max-width:356px)
      height: 89%

    background-color: rgba(0,0,0,.6);

    z-index: 9999;

    display: block;

    position: absolute;

    max-width: 961px;

    max-height: 537px;

    left: 50%;

    transform: translate(-50%);
  .opt-in
    top: 50%;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    transform: translateY(-50%);
    h4
      @media screen and (max-width:576px)
        font-size:1.2rem
  .disclaimer
    font-size: .7rem
    @media screen and (max-width:576px)
      font-size: .6rem
  .thumb
    margin-top:10px
    .col-3
      max-width: 23.5%;
  .col-thumb
    border: 1px solid gray
    margin-left:2px
    margin-right:2px
    p
      position: absolute;
      right: 2px;
      bottom: -21px;

  .fb-share
    text-align: left
  .ron-media
    margin-top:20px
    img
      max-width:90px
      opacity: .5
      :hover
        opacity: .9
    .col-6, .col-md-3
      margin-bottom:15px
  .launch-squeeze-form
    @media screen and (max-width:367px)
        margin-bottom:5px
  .title
    h2
      @media screen and (max-width:520px)
        font-size: 1.5rem
  .t
    padding-bottom: 0px
  .l-body-transition

  .l-body
    background-color: #0f1033;
  .l-body2
    margin-bottom: -7px;
    background-color: rgba(5, 6, 57, 1);
    @media screen and (min-width:520px)
      background-color:white;
      margin-top: 40px
  .l-body2-ron
    img
      float: right;
      padding-right: 100px;
  .vid-title
    img
      border: 1px solid gray
    .col-md-6
      min-height: 220px
  .fb-comments
    display:block
#launch-video-4
  .title
    color: $hBlue2
    font-weight: bold;
  .title-360
    color: $hOrange
    font-weight: bold;
  .old-price
    text-decoration: line-through;
    color: red
  h2, h4
    color: black

#launch-squeeze
.fb-like
  @media screen and (min-width:608px)
    margin-top: 58px;
#launch-video-4
  .title
    color: $hBlue2
    font-weight: bold;
  .title-360
    color: $hOrange
    font-weight: bold;
  .old-price
    text-decoration: line-through;
    color: red
  h2, h4
      color: black
#launch-squeeze

  min-height:100vh

  .btn
    background-color: $hBlue2
  .main
    padding-left: 0px
    padding-right: 0px
    text-align:center
    margin-top: -45px
    // background-color: $hBlue2
    @media screen and (min-width:767px)
      margin-top: -60px
      background-color: White
      background-image:url('/img/ron-white-desktop-bg.png')

  .logo-mobile
    max-width: 350px
  .ron
    @media screen and (max-width:767px)
      padding-left: 0px
      padding-right: 0px
      padding-bottom: 20px
      text-align: center

    z-index: 100
    @media screen and (min-width:767px)
      text-align: right
  .lsbold
      font-weight: bold;
  .title
  //  background-image: url(/img/ron-white-sp.jpg)
  //  background-repeat: no-repeat
  //  background-size: contain
  //  background-position: top right;

  //  background-color: $hBlue2
  //  padding-top: 20px
  //  padding-bottom: 20px
  //  font-weight: lighter

    // @media screen and (max-width:560px)
      // font-size: 11vw
    // @media screen and (min-width:560px)
      // font-size: 60px
      // z-index: 99
    // @media screen and (max-width:767px)
      // display: none
    // img
      // max-width:410px
  .logo-mobile
    padding-bottom: 10px;

    padding-top: 10px;
    @media screen and (min-width:767px)
      display: none
  .desktop

    @media screen and (max-width:767px)
      display: none;
    @media screen and (min-width:767px)
      display: block;
  .mobile
    max-width: 305px;
    @media screen and (max-width:767px)
      display: block;
    @media screen and (min-width:767px)
      display: none;

  a
      color: White !important
  .cta
    z-index: 100
    padding-left: 15px
    padding-right: 15px
    @media screen and (max-width:992px)
      background-color: $hBlue2
    .logo
      background-color: rgba(25, 44, 133, 0.9);
      margin-top: -147px;
      z-index: 999;
      height:147px
      @media screen and (min-width:767px)
        display: none
    .cta-text1
      @media screen and (min-width:992px)
        padding-top: 210px
    .cta-text
      @media screen and (max-width:992px)
        background-color: $hBlue2
        padding-left:15px
        padding-right:15px
    .cta-title
      @media screen and (max-width:992px)
        background-color: $hOrange
        font-size: 40px
      margin-bottom: 5px
      margin-top: 15px
      margin-bottom: 15px
      padding:5px

      h2
        color: white
        @media screen and (min-width:992px)
          color: $hOrange
    h4
      color: white
      @media screen and (min-width:992px)
        color: black

    .btn
      background-color: $hBlue2
      color: white
      @media screen and (max-width:767px)
        background-color: white
        color: $hBlue2
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 255px;
      margin-top: 20px

  .disclaimer
    font-size:10pt
    color: #ebebeb
    @media screen and (min-width:767px)
      color: #abaaaa
    text-align:center
    @media screen and (max-width:767px)
      padding-bottom:20px
  .sp-reg
    max-width: 289px;
    margin: 0 auto;
    .btn
      background-color: $hBlue2
      color: white
  .step-3
  .step-4
    background-color: White
    color: $hBlue2
#ToS, #PP
  padding-top: 10rem
  p
    color: black

#partner
  .header-img
    margin-top: 28px;
    padding-left: 0px;
    padding-right: 0px;
  h4
    text-decoration: underline;
    color: $hBlue2
  p
    color: black
  .join-team
    padding-bottom: 40px
    margin-top: 5rem
  h2, h1
    color: $hBlue2
    text-align: center
  .center
    text-align: center
  .recaptcha-m
    @media screen and (max-width:362px)
      transform:scale(0.77);
      transform-origin:0 0
  .form
    @media screen and (max-width:450px)
      padding-left: 0px
      padding-right: 0px
      margin-left: 0px
      margin-right: 0px
