@require 'theme'

@require './pages/account'
@require './pages/index'
@require './pages/launch-squeeze'
@require './pages/login'
@require './pages/register-success'
@require './pages/reset-password'
@require './pages/reset-password-confirm'
@require './pages/signup'
