/* HEADER START */
header
  background-color: $hWhite !important
  border-bottom: 1px solid #d2d9f8;
  &:before
    background-color: $hWhite !important

  .nav.nav.nav *
    color: $hBlue
    font-weight: 500

  .menu-bodies *
    color: $black

  .secondary.secondary.secondary
    a
      border: 2px solid $hBlue
      height: 33px;
      line-height: 31px
      margin-top: $spacing


    // if we want the logo to be text again
    // border: 2px solid #324099;
    // height: 33px;
    // line-height: 31px;
    // margin-top: .5rem;
    // display: block;
    // padding: 0 .75rem;
    // font-family: Playfair Display;

/* HEADER END */
