button.btn.btn.btn
  display: inline-block
  padding-left: 2rem
  padding-right: 2rem
  border-radius: 0
  border: 0
  font-weight: bold

  &:hover
    background-color: $hOrange !important
    color: $hWhite !important

select.select.select.select
  line-height: 1em
  outline: none
  border: 2px solid $hBlue2
  border-radius: 0

