a
  color: $hLink !important
  text-decoration: underline !important; // !important added due to bootstrap overriding

  &:hover
  &:focus
    color: $hOrange !important
    border-color: $hOrange !important
