body
  background: $hWhite

header
  .mobile-menus
    .show-mobile-icon
      color: $hBlue2 //this was in some other set of css files so adding here for easier reference
#launch-videos
  .title

    background-color: $hBlue2
    padding-top: 20px

    font-weight: lighter
    @media screen and (max-width:767px)
      padding-right: 0px
      padding-left: 0px


    img
      width: 60vw;
      max-width: 300px;
.flex-center
  display: flex
  align-items: center
  justify-content: center

.l-header
  background-color: $hBlue2


  padding-bottom:100px
  h2,h3
    text-align: center
.l-header-34
  @media screen and (max-width:767px)
      padding-top:10px
.l-vid
  margin-top: -80px
  adding-bottom: 40px;
  img
    @media screen and (max-width:767px)
      width:100%
    margin: 0 auto;
.title
  padding-top:20px
.vid-title

    h5, h2
      color:$hBlue2
      font-weight: bold
    h5
      text-transform: uppercase;
      padding-bottom: 20px
.l-body
  @media screen and (min-width:992px)
    margin-top: 40px
  padding-bottom: 40px
  h3
    color: black
    margin-top: 10px;
    @media screen and (max-width:767px)
      font-size: 4.6vw;

    @media screen and (max-width:608px)
      text-align: center;

  .arrow
    @media screen and (max-width:608px)
      display: none;
    position: absolute;
    margin-left: -46px;
    margin-top: -28px;
.fblike
  color: #1a88fb
