body
  background: $hWhite

header
  .mobile-menus
    .show-mobile-icon
      color: $hBlue2 //this was in some other set of css files so adding here for easier reference

.flex-center
  display: flex
  align-items: center
  justify-content: center

.l-header
  background-color: $hBlue2
  min-height: 300px
  padding-top: 75px
  padding-bottom:100px
  h2,h3
    text-align: center
.l-header-34
  @media screen and (max-width:767px)
      padding-top:10px
.l-vid
  margin-top: -50px
  min-height: 600px
  img
    @media screen and (max-width:767px)
      width:100%
    margin: 0 auto;
.title
  padding-top:20px
.vid-title

    h5, h2
      color:$hBlue2
      font-weight: bold
    h5
      text-transform: uppercase;
      padding-bottom: 20px
.l-body
  padding-bottom: 40px
.fblike
  color: #1a88fb
#launch-squeeze
  background-color: $hBlue2
  min-height:100vh
  .ron
    @media screen and (max-width:767px)
      padding-left: 0px
      padding-right: 0px
      padding-bottom: 20px

  .lsfooter
      background-color: #1d2650
      min-height:100px
      text-align: center
  .lsbold
      font-weight: bold;
  .title
  //  background-image: url(/img/ron-white-sp.jpg)
  //  background-repeat: no-repeat
  //  background-size: contain
  //  background-position: top right;
    background-color: $hBlue2
    padding-top: 20px
    font-weight: lighter
    @media screen and (max-width:560px)
      font-size: 11vw
    @media screen and (min-width:560px)
      font-size: 60px

  a
      color: White !important
  .cta
    .btn
      background-color: White
      color: $hBlue2
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 255px;
      margin-top: 20px

  .disclaimer
    font-size:10pt
    color: #ebebeb
    text-align:center
    @media screen and (max-width:767px)
      padding-bottom:20px
  .sp-reg
    max-width: 289px;
    margin: 0 auto;
    .btn
      background-color: $hBlue2
      color: white
