body
  background: $hWhite

.flex-center
  display: flex
  align-items: center
  justify-content: center

.l-header
  background-color: $hBlue2
  min-height: 300px
  padding-top: 75px
  padding-bottom:100px
  h2,h3
    text-align: center
.l-header-34
  @media screen and (max-width:767px)
      padding-top:10px
.l-vid
  margin-top: -50px
  min-height: 600px
  img
    @media screen and (max-width:767px)
      width:100%
    margin: 0 auto;
.title
  padding-top:20px
.vid-title

    h5, h2
      color:$hBlue2
      font-weight: bold
    h5
      text-transform: uppercase;
      padding-bottom: 20px
.l-body
  padding-bottom: 40px
.fblike
  color: #1a88fb
