$hBlue = #324099
$hBlue2 = #304191
$hBlue3 = #292f4d
$hBlue4 = #1d243d
$hBlue5 = #191936
$hBlue6 = #1e253f

$hLink = #2e3b8e

$hLavender = #b6bde9

$hOrange = #f26621

$hWhite = $white

$pageWidth=1600px
