.performance-facts
  .performance-facts__header
    span.performance-facts__title Supplement Facts
    br
    br
    span.serving-size
      | Serving Size: 2 capsules
      br
      |     Serving Per Container 30
  table.performance-facts__table
    tbody
      tr.no-row
        th(colspan="2")
          b Amount Per Serving
        td
          b % Daily Value*
      tr.thick-row
      tr
        th(colspan="2")
          | Rhodiola rosea Extract
          br
          |    (Root; Std. to 3% Salidroside)
        td
          br
          |  500mg*
      tr
        th(colspan="2")
          | Alpha-GPC 50%
        td
          | 300mg*
          br
      tr
        th(colspan="2")
          | Theacrine
        td
          | 300mg*
          br
      tr
        th(colspan="2")
          | Dopa-XR
          sup TM
          br
          |     Extended Release Theacrine Co-Crystal
        td
          br
          | 50mg*
      tr.thick-end
        th(colspan="2")
          | Huperzine A
        td
          | 50mcg*
          br
  |         *Daily Value not established
  table.performance-facts__table--grid
    tbody
      tr
  |      Other Ingredients: Gelatin, Silicon Dioxide.

