extends _layout.pug

block vars
  - var pageId = 'account'

block content
  section
    .container
      .row
        .col-md-8.offset-md-2.col-12
          h2 Profile
          profile
            h3 Number of Referrals: { data.get('user.referrals') ? data.get('user.referrals').length : 0  }
            h3(if='{ isAffiliate() }') Commission Earned: { renderCurrency('usd', parseInt((data.get('user.transactions.points.balance') || 0) * .15), 10)}
            h3 Your Link:
            copy.input(text='{ ()=>{return "https://" + window.location.host + "#" + data.get("user.referrers.0.id")} }')
              button.input(onclick='{ copy }') { copied ? 'Copied' : 'Copy' }
            div(if='{ isAffiliate() }') Thanks for being a part of the Halcyon Ambassador Team. For specific digital assets please reach out to your account manager.

            div(if='{ !isAffiliate() }') Normal Stuff Here

block header
