extends _layout.pug

block vars
  - var pageId = 'account'

block content
  <div class="left logos logo-spelling" ><a class="logo-link" href="https://neuromethod.halcyon.bio" itemprop="logos" itemscope="" itemtype="WebsiteLogo"><img class="logo-image" src="/img/logo.svg" alt="HALCYON.BIO" itemprop="image"></a>
        </div>
  section
    .container
      .row
        .col-md-8.offset-md-2.col-12
          h2 Profile
          profile
            h3 Number of Referrals: { data.get('user.referrals') ? data.get('user.referrals').length : 0  }
            h3(if='{ isAffiliate() }') Commission Earned: { renderCurrency('usd', parseInt((data.get('user.transactions.points.balance') || 0) * .15), 10)}
            h3 Your Link:
            copy.input(text='{ ()=>{return "https://" + window.location.host + "/360#" + data.get("user.referrers.0.id")} }')
              button.input(onclick='{ copy }') { copied ? 'Copied' : 'Copy' }
            div(if='{ isAffiliate() }') Thanks for being a part of the Halcyon Ambassador Team. Assets are below - for something specific please reach out to your account manager or email support@halcyon.bio.
              h3 Email/Marketing Copy
              a(href='https://docs.google.com/spreadsheets/d/1DbS3zVjrkZAOrtd2B-dli7VdsJYdfi2L2sAu_9SsyZQ/edit?usp=sharing')
                img(style="max-width:50%" src="/img/gsheets-logo-link.png")
              p
                | 1. Open the Google Sheet
                br
                | 2. Goto file >
                strong Make a Copy...
                |
                | to copy the sheet to your Google Drive so you can easily make changes as needed to the copy
            div(if='{ !isAffiliate() }') Normal Stuff Here



block header
