extends _layout.pug

block vars
  - var pageId = 'launch-videos'

block content
  div#mousetracker
    script.
      window._mfq = window._mfq || [];
      (function() {
      var mf = document.createElement("script");
      mf.type = "text/javascript"; mf.async = true;
      mf.src = "//cdn.mouseflow.com/projects/083f1b02-ccd7-4510-8625-e3dfd2fbaf6d.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
      })();

  div#fb-root
   script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=499421243843386&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs); }
    (document, 'script', 'facebook-jssdk'));

  
  section.l-header
    .container
      .row
        .col-12.title
          .title-top-container
            .title-top
              img.mobile(src='/img/logo_square.png')
              button.btn.btn-share(type='button' onclick='location.href=') SHARE
              button.btn.btn-trailer(type='button' onclick="location.href='#opt-in' ")  WATCH NOW
              // img.mobile(src='/img/nm-box-logo-oj360.png')
    .container-fluid.l-vid
      video-form.row
        .col-12.text-center.header-img
          .vid-container
            a(href='#opt-in')
              img.mobile(src="/img/header-ron-mobile.jpg")
            a(href='#opt-in')
              img.desktop(src="/img/header-ron-desktop.jpg")
            .name Ron White
            .subtitle 2 time USA Memory Champion

            .subtitle2
              |Teaches
              br
              | Brain Performance

    .container.thumb
      .row
        .col-3.col-thumb
          a(href='#opt-in')
            p 1
            img(src="/img/vid-1-thumb.jpg")
        .col-3.col-thumb
          a(href='#opt-in')
            p 2
            img(src="/img/vid-2-thumb.jpg")
        .col-3.col-thumb
          a(href='#opt-in')
            p 3
            img(src="/img/vid-3-thumb.jpg")
        .col-3.col-thumb
          a(href='#opt-in')
            p 4
            img(src="/img/vid-4-thumb.jpg")

      .row
        .col-12.title
          h2 UPCOMING EPISODES
          p
          |Free online masterclass taught by the one of the
          |world’s greatest minds. Ron White is a 2X USA memory
          |champion. He teaches you how to get the most from
          |your brain with his best lifestyle hacks, mental
          | strategies and supplements for peak brain health and performance.
      .title
        h2 AS SEEN ON
      .row.ron-media.flex-center
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/dr-oz-logo.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/fox-news.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/good-morning-america.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/Martha-Stewart.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/nbc-logo.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/time.png')
        .col-12.col-md-3.col-lg-1.flex-center
          img(src='/img/wsj.png')

  // .flex-container.l-body-transition
    .row
      .col-12
        p
  #fb.flex-container.l-body.flex-center
    .row
      .col-12
        h3  Hit the <span class="fblike"> "Like"</span> button and comment below
        img.arrow(src="img/arrow.png")
        <div class="fb-like" data-colorscheme="dark" data-href="https://www.facebook.com/HalcyonBiotech/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <div class="fb-comments" data-colorscheme="dark" data-href="https://halcyon.bio/master-class-videos" data-width="100%" data-numposts="10"></div>
  .flex-container.l-body2
    .row
      .col-md-8.col-12.l-body2-ron
        img(src='/img/ron-white-desktop.jpg')
      .col-md-4.col-12.vid-title.text-center
        h2 WATCH ALL FOUR EPISODES
        .row
          .col-md-8.offset-md-2.col-12.flex-center.vid-desc-trailer
            a(href='#opt-in')
              h5.flex-center.vid-desc-wrapper-trailer Trailer

              img(src="/img/trailer-thumb.jpg")
          .col-md-6.col-12.vid-desc.flex-center
            a(href='#opt-in')
              h5.vid-desc-wrapper.flex-center Lifestyle Hacks

              img(src="/img/vid-1-thumb.jpg")
          .col-md-6.col-12.vid-desc.flex-center
            a(href='#opt-in')
              img(src="/img/vid-2-thumb.jpg")
              h5.vid-desc-wrapper.flex-center Mental Strategies
        .row
          .col-md-6.col-12.vid-desc.flex-center
            a(href='#opt-in')
              img(src="/img/vid-3-thumb.jpg")
              h5.vid-desc-wrapper.flex-center Supplements for mental Performance

          .col-md-6.col-12.vid-desc.flex-center
            a(href='#opt-in')
              img(src="/img/vid-4-thumb.jpg")
              h5.vid-desc-wrapper.flex-center putting it all together

        .row
          .col-12.blue-bottom
  video-form.lightbox-target#opt-in.overlay-opt-in(if='{ !submited }')
        .opt-in
          h4 Enter your email address to watch the trailer
          .row
            .col-md-6.col-12.opt-in-fields
              text.input(bind='email' placeholder='Email')
            .col-md-6.col-12.opt-in-fields
              button.btn.submit-opt-in(type='button' onclick='{ submit }') WATCH NOW
            p.disclaimer Enter your email above so we can notify you when we release the masterclass here in the next few days - you'll get FREE access to the entire masterclass!
            <a class="lightbox-close lightbox-close1" href="#fb"></a>
  .lightbox-target#trailer2424neuro
    .trailer
      <iframe width="560" height="315" src="https://www.youtube.com/embed/XbGiqt-iZN8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <a style="" class="lightbox-close lightbox-close2" href="#fb"></a>  
  .lsfooter
          p
          | ©2018 Halcyon Biotechnologies
          br
          |  #[a(href='/privacy-policy') Privacy Policy ] |  #[a(href='/privacy-policy#terms-of-service') Terms of Service]
block header
block footer
