extends _layout.pug

block vars
  - var pageId = 'launch-videos'

block content
  div#fb-root
   script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=499421243843386&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs); }
    (document, 'script', 'facebook-jssdk'));
  .flex-center.title
      
      img.logo(src='/img/neuromethod360-logo2.png')
  section.l-header
    .container
      //.row  recommend removing as we are changing landing page. valuable space above the fold
        .col-md-3.col-6
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6.l-header-34
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6.l-header-34
          img(src="/img/vid-placeholder.jpg"  )
      .row
        .col-12.title
          h2 Master Class for the Mind 
          h3
            i with #[strong Ron White]
  .container-fluid.l-vid
      .row
        .col-12.text-center
          .overlay-opt-in
            h4 Enter your email address to watch the videos
            .sp-reg
              text.input(bind='email' label='Email')
              button.btn(type='button' onclick='{ submit }') SUBMIT
            p.disclaimer We will not spam you, your privacy is important to us. We will not sell your email or share it.
          img(src="/img/video-preview.jpg")
  .container.l-body
    .row
      .col-lg-9.col-12
        h3  Hit the <span class="fblike"> "Like"</span> button and comment below
        img.arrow(src="img/arrow.png")
        <div class="fb-like" data-href="https://www.facebook.com/HalcyonBiotech/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <div class="fb-comments" data-href="https://halcyon.bio/master-class-videos" data-width="600" data-numposts="10"></div>
      .col-lg-3.col-12.vid-title.text-center
        h2 Watch the Entire Launch Series
        img(src="/img/vid-placeholder.jpg")
        h5 Video 1 
        h5 Lifestyle Hacks for the Brain

        img(src="/img/vid-placeholder.jpg")
        h5 Video 2 
        h5 Adding these Mental Strategies<br> to your day
        img(src="/img/vid-placeholder.jpg")
        h5 Video 3 
        h5 Supplementation for<br> mental Performance 
        
        img(src="/img/vid-placeholder.jpg")
        h5 Video 4 
        h5 Coming soon
  .lsfooter
          p
          | ©2018 Halcyon Biotechnologies
          br
          |  #[a(href='/privacy-policy') Privacy Policy ] |  #[a(href='/terms-of-service') Terms of Service]
block header
block footer
      
