extends _layout.pug

block vars
  - var pageId = 'launch-videos'

block content
  div#fb-root
   script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=499421243843386&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs); }
    (document, 'script', 'facebook-jssdk'));
  section.l-header
    .container
      .row
        .col-md-3.col-6
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6.l-header-34
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6.l-header-34
          img(src="/img/vid-placeholder.jpg"  )
      .row
        .col-12.title
          h2 Master Class for the Mind 
          h3
            i with Ron White 
  .container-fluid.l-vid
      .row
        .col-12.text-center
          img(src="/img/vid-placeholder.jpg")
  .container.l-body
    .row
      .col-lg-9.col-12
        h3  Hit the <span class="fblike"> "Like"</span> button and comment below
        img(src="img/arrow.png")
        <div class="fb-comments" data-href="https://halcyon.bio/master-class-videos" data-width="600" data-numposts="10"></div>
      .col-lg-3.col-12.vid-title.text-center
        h2 Watch the Entire Launch Series
        img(src="/img/vid-placeholder.jpg")
        h5 Video 1 
        h5 Lifestyle Hacks for the Brain

        img(src="/img/vid-placeholder.jpg")
        h5 Video 2 
        h5 Adding these Mental Strategies<br> to your day
        img(src="/img/vid-placeholder.jpg")
        h5 Video 3 
        h5 Supplementation for<br> mental Performance 
        
        img(src="/img/vid-placeholder.jpg")
        h5 Video 4 
        h5 Coming soon

block header

      
