extends _layout.pug

block vars
  - var pageId = 'launch-video-4'

block content
  section.l-header
    .container
      .row
        .col-md-3.col-6
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6.l-header-34
          img(src="/img/vid-placeholder.jpg")
        .col-md-3.col-6.l-header-34
          img(src="/img/vid-placeholder.jpg"  )
      .row
        .col-12.title
          h2 Master Class for the Mind 
          h3
            i with Ron White 
  .container-fluid.l-vid
      .row
        .col-12.text-center
          img(src="/img/vid-placeholder.jpg")
  .container.l-body
    .row
      .col-md-4.col-12
        img(src='/img/neuromethod360-package.jpg')  
      .col-md-6.col-md-offset-2.col-12
        h2
          | The #[span.title Neuromethod]#[span.title-360 360] Package
          br
          | #[span.old-price $297] #[strong $197] (a $567 value!)
          h4
          | #[strong $299 value] 12 week Neuromethod program
          br
          | #[strong $270 value] 12 week supply of Halcyon
    
block header

      
