extends _layout.pug

block vars
  - var pageId = 'partner'

block content
  .header-img 
    img(src='/img/partner-header.jpg')
  section
    .container.join-team
      .row
        .col-md-8.offset-md-2.col-12
          h1 JOIN OUR TEAM
          br
          
          br
          h4 Massive Industry Growth
          
          br
          p The brain health industry is growing exponentially, with sleep and cognitive enhancement products projected to exceed $80 Billion by 2024.
          
          br
          h4 Leading Edge Brand
          
          br
          p Becoming an Ambassador with Halcyon ensures you a place at the leading edge of the consumer biotechnology movement alongside an innovative premium brand.
          
          br
          h4 Exclusive New Products
          
          br
          p The Halcyon Ambassador Program gives your followers access to great new products before anyone else. 
          
          br
          h4 Great People
          
          br
          p You're in good company, positioned alongside other top influencers, scientists, celebrities, and business luminaries. Connect with other Halcyon Ambassadors at exclusive Halcyon influencer events in NY, SF, and LA.
          
          br
          h4 Lucrative and Simple
          
          br
          p Turn your site or social traffic into income. With a few clicks you'll be set up to receive a 15% commission with a 45-day referral. We want you to help out of passion, but we also want you to share in our success. 
          
          br
          h4 Ambassador Quickstart Kit
          
          br
          p Our turnkey media kit has everything you need - media, copy, samples, swag, promo codes for friends, and custom tiny URLs to track your impact in real time. 
          
          br
          p We believe that success has a formula, and we thank you for being a part of ours. 
          
          br
          h2 Apply for consideration to the Halcyon Ambassador Program: 
          br
          br
          p.center Start by answering a few questions and creating an account below
          register(immediate-login='true' affiliate='true')
            user-status.input(placeholder='Email')
            user-name.input(placeholder='Name')
            user-email.input(placeholder='Email')
            user-password.input(placeholder='Password')
            user-password-confirm.input(placeholder='Retype Password')
            user-source.input(placeholder='How did you hear about our Ambassador Program?')
            user-promotion.input(placeholder='how do you plan to promote Halcyon?')
            recaptcha(sitekey='6Ldp8mQUAAAAAKfBJ8OxNgvvMkNxvQhbnFfYVO-D')
            .error(if='{ errorMessage }')
              | { errorMessage }

            button.input(type='submit')
              | Register
          .center #[a(href='login') Already have an account?]
