extends _layout.pug

block vars
  - var pageId = 'partner'

block content
  section
    .container
      .row
        .col-md-8.offset-md-2.col-12
          h1 Thank you for your application. Please check your inbox to confirm your email. 
          a(href='login') Already have an account?
