extends _layout.pug

block vars
  - var pageId = 'register-password-confirm'

block content
  section
    .container
      .row
        .col-md-8.offset-md-2.col-12
          h2 Enter Your New Password?
          reset-password-complete
            text.input(bind='user.password' label='New Password')
            text.input(bind='user.passwordConfirm' label='Confirm Your Password')
            button Submit
