extends _layout.pug

block vars
  - var pageId = 'register-password'

block content
  section
    .container
      .row
        .col-md-8.offset-md-2.col-12
          h2 What is your email?
          reset-password
            text(bind='user.email' label='Account Email')
            button('Submit')

